@import url(https://fonts.googleapis.com/css?family=Lato|Titillium+Web:300i);*::-webkit-input-placeholder {
  color: #666;
  opacity: 1;
}

*:-moz-placeholder {
  color: #666;
  opacity: 1;
}

*::-moz-placeholder {
  color: #666;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #666;
  opacity: 1;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px;
}

*::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #FFF -webkit-gradient(linear, 40% 0%, 75% 84%, from(#b497cc), to(#8f64b3), color-stop(0.6, #684288));
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666;
}

body input:required:valid,
body textarea:required:valid {
  color: #666;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.75;
  font-family: "Lato", sans-serif;
  color: #211d1d;
  background-color: #fff;
  overflow-x: hidden;
  opacity: 1;
}

main {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #211d1d;
  cursor: pointer;
}

form,
input,
textarea {
  margin: 0;
  padding: 0;
  border: none;
}

.title,
.poems__title,
.authors__title {
  text-align: center;
  font-family: "Titillium Web", sans-serif;
  font-weight: 300;
  font-size: 30px;
  margin-bottom: 50px;
}

.section {
  padding: 0 10%;
  margin-bottom: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.poems__title,
.authors__title {
  font-size: 23px;
  margin-bottom: 25px;
  padding-bottom: 10px;
  position: relative;
}

.poems__title::after,
.authors__title::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 35%;
  width: 30%;
  height: 2px;
  background-color: #b497cc;
}

.poems {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
}

.poems__list {
  max-height: 50vh;
}

.poems__author {
  display: block;
  font-size: 14px;
  font-style: italic;
}

.poems__link {
  display: block;
}

.poems__link:first-child {
  -webkit-transition: border .3s ease;
  transition: border .3s ease;
  position: relative;
}

.poems__link:first-child::after {
  content: ' ';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: #b497cc;
  -webkit-transition: width .5s ease;
  transition: width .5s ease;
}

.poems__link:first-child:hover::after {
  width: 50px;
}

.authors {
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
  text-align: center;
}

.authors__list {
  max-height: 30vh;
}

.list {
  overflow-y: scroll;
}

.list::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px;
}

.list::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

.list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #FFF -webkit-gradient(linear, 40% 0%, 75% 84%, from(#b497cc), to(#8f64b3), color-stop(0.6, #684288));
}

.list__item {
  padding: 7px 15px;
  border-bottom: 1px solid #b497cc;
}

.header {
  padding: 0 10%;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #b497cc;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__link {
  display: block;
  padding: 17px 20px;
  color: #fffbff;
  font-weight: bold;
  font-size: 20px;
  background-color: #b497cc;
  -webkit-transition: background-color .5s ease;
  transition: background-color .5s ease;
}

.nav__link:hover {
  background-color: #684288;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.fade-in {
  -webkit-animation-name: fade-in;
          animation-name: fade-in;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.fade-out {
  -webkit-animation-name: fade-out;
          animation-name: fade-out;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

@-webkit-keyframes slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
  }

  50% {
    opacity: .3;
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    position: static;
    opacity: 1;
  }
}

@keyframes slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
  }

  50% {
    opacity: .3;
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    position: static;
    opacity: 1;
  }
}

@-webkit-keyframes slide-up {
  0% {
    opacity: 1;
    height: auto;
  }

  100% {
    height: 0;
    opacity: 0;
    display: none;
  }
}

@keyframes slide-up {
  0% {
    opacity: 1;
    height: auto;
  }

  100% {
    height: 0;
    opacity: 0;
    display: none;
  }
}

.slide_down {
  -webkit-animation-name: slide-down;
          animation-name: slide-down;
  -webkit-animation-timing-function: cubic-bezier(0, 0, 0.58, 1);
          animation-timing-function: cubic-bezier(0, 0, 0.58, 1);
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.slide_up {
  overflow: hidden;
  -webkit-animation-name: slide-up;
          animation-name: slide-up;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 400;
  background-color: rgba(180, 151, 204, 0.85);
}

.popup__content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 30px;
}

.popup__title {
  text-align: center;
  margin-bottom: 15px;
}

.dynamic-popup__content {
  position: absolute;
  top: 35%;
  left: 35%;
  right: 35%;
  padding: 30px;
  border-radius: 5px;
  background-color: #fff;
  text-align: center;
}

.btn_hide-popup {
  position: absolute;
  top: 10px;
  right: 25px;
}

.btn_hide-popup::before,
.btn_hide-popup::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 3px;
  background-color: #000;
  cursor: pointer;
  -webkit-transition: background-color .3s ease;
  transition: background-color .3s ease;
}

.btn_hide-popup::before:hover,
.btn_hide-popup::after:hover {
  background-color: #fff;
}

.btn_hide-popup::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.btn_hide-popup::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.poems__popup .popup__content {
  max-height: 50vh;
  overflow-y: auto;
  text-align: center;
}

